// sim card config
#define SECRET_PINNUMBER   "1234"

// mqtt topics
#define BASE_TOPIC         "sensors"
#define DEVICE_ID          "uuid"

// mqtt server
#define MQTT_BROKER        ""
#define MQTT_PORT          1883

// sensor config
#define MINUTE_DELAY       180
